<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KapcsolatParameter" connectionString="Data Source=ARNTESZT;Integrated Security=False;uid=Fejl_zsberces;pwd=Zsberces60;Initial Catalog=FNOVUM2;MultipleActiveResultSets=true;Connection Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>